<header class="bg-neutral-900 text-white p-4 flex justify-between">
  <div class="flex justify-center mx-auto">
    <button class="bg-neutral-900 text-white text-xl px-2 py-1 ml-10 mr-10 rounded hover:bg-neutral-900 hover:text-neutral-300" routerLink="/home">The Grid</button>
    <button class="bg-neutral-900 text-white text-xl px-2 py-1 mr-10 rounded hover:bg-neutral-900 hover:text-neutral-300" routerLink="/editor">Profile</button>
    <button class="bg-neutral-900 text-white text-xl px-2 py-1 mr-10 rounded hover:bg-neutral-900 hover:text-neutral-300" routerLink="/messenger">Messenger</button>
    <button class="bg-neutral-900 text-white text-xl px-2 py-1 mr-10 rounded hover:bg-neutral-900 hover:text-neutral-300" routerLink="/settings">Settings</button>
  
</div>

  
  <h1 class="text-2xl font-bold"></h1>
  
  <button class="bg-neutral-900 text-white text-xl px-2 py-1 mr-10 rounded hover:bg-neutral-900 hover:text-neutral-300" routerLink="/login"><i class="fa fa-arrow-right-from-bracket pr-3"></i>Logout</button>
</header>