<!--pre-alpha notice-->

<!-- Igneas Introduction Section -->
       <section class="text-center mb-12">
        <h2 class="text-3xl font-semibold text-gray-400 mb-4">Why Igneas?</h2>
        <p class="text-lg text-gray-100 mb-8">
            At Igneas, we're revolutionizing the dating experience. Say goodbye to endless swiping and shallow matches.
            Here's what sets us apart:
        </p>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
            <!-- Feature Cards -->
            <div class="bg-gray-800 shadow-md p-6 rounded-lg text-gray-100">
                <h3 class="text-xl text-gray-400 font-semibold mb-4">Quality of Life Features</h3>
                <p class="">We're dedicated to providing features that enhance your dating experience, making it more enjoyable and meaningful.</p>
            </div>
            <div class="bg-gray-800 shadow-md p-6 rounded-lg text-gray-100">
                <h3 class="text-xl text-gray-400 font-semibold mb-4">Grid-Style Searching</h3>
                <p class="">No more swiping fatigue. With Igneas, browse through a grid of potential matches based on your preferences.</p>
            </div>
            <div class="bg-gray-800 shadow-md p-6 rounded-lg text-gray-100">
                <h3 class="text-xl text-gray-400 font-semibold mb-4">Advanced Filter-Based Matching</h3>
                <p class="">Find exactly what you're looking for. Our advanced matching system ensures that you only see profiles that align with your preferences.</p>
            </div>
            <div class="bg-gray-800 shadow-md p-6 rounded-lg text-gray-100">
                <h3 class="text-xl text-gray-400 font-semibold0 mb-4">Safety First</h3>
                <p class="">Your safety is our priority. We've implemented cutting-edge safety features to protect our users.</p>
            </div>
        </div>
    </section>

    <!-- Pricing Section -->
    <section class="text-center mb-12">
        <h2 class="text-3xl font-semibold text-gray-400 mb-4">Affordable Pricing</h2>
        <p class="text-lg text-gray-100 mb-8">
            Experience all this and more for just £3.99/month. That's less than the price of a cup of coffee per month!
        </p>
        <button class="bg-blue-500 text-white py-2 px-6 rounded-full shadow-lg hover:bg-blue-600 transition-colors duration-300" [disabled]="disableSignup">Sign Up Now</button>
    </section>

    <!-- About Us Section -->
    <section class="text-center mb-12">
        <h2 class="text-3xl font-semibold text-gray-400 mb-4">About Us</h2>
        <p class="text-lg text-gray-100 mb-8">
            At Igneas, we're passionate about revolutionizing the dating landscape. Our mission is to create a safe, inclusive, and enjoyable space for people to connect authentically.
        </p>
    </section>

    <!-- Stay Connected Section -->
    <section class="text-center mb-12">
        <h2 class="text-3xl font-semibold text-gray-400 mb-4">Stay Connected</h2>
        <p class="text-lg text-gray-100 mb-8">
            Join us on <a [href]="discordUrl" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Discord</a> for updates as we start our quest to shake-up the online-dating industry!
        </p>

    </section>