@import "primeng/resources/themes/soho-dark/theme.css";
@import "primeng/resources/primeng.css";
@import "primeflex/primeflex.css";
@import "primeicons/primeicons.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	overflow:hidden;
}

.hooky-scrollbar::-webkit-scrollbar {
	width: 12px;
}

.hooky-scrollbar::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #dcdcdc;
}

.hooku-scrollbar::-webkit-scrollbar-button {
	width: 0;
	height: 0;
	display: none;
}

.image-selected {
	border: 5px solid #2c2c2c;
}

/* Hamburger line animations */
.hamburger-top {
	@apply absolute h-[2px] w-[20px] bg-black;
	transform: 
	  rotate(0deg) translateY(-6px) 
	  rotate(0deg);
  }
  
  /* Rotate first line */  
  .open .hamburger-top {
	transform:
	  rotate(45deg) translateY(0px)
	  rotate(-45deg);  
  }
  
  /* Fade out middle line */
  .open .hamburger-middle {
	opacity: 0; 
  }
  
  /* Rotate last line */
  .open .hamburger-bottom {
	transform: 
	  rotate(-45deg) translateY(6px)
	  rotate(45deg);
  }